<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>
<div th:fragment="header">
    <div id="headerFrame">
        <div>
            <input type="button" value="<-" onclick="window.history.go(-1); return false;" />
        </div>
        <div id="dropDownMenu">
            <button onclick="showDropDownMenu(this)" class="dropDownButton">Menu</button>
            <div id="dropDownLinks" style="display: none;">
                <div id="dropDownBox">
                    <a th:href="@{/friends/false}">Friends</a>
                    <a th:href="@{/bets}">Bet</a>
                    <a th:href="@{/logout}">Logout</a>
                </div>
            </div>

        </div>
        <div class="logo">LOGO</div>
        <div id="notificationBox" onclick="showNotification(this)">
            <span class="notificationButton">N</span>
            <ul id="NotificationList" style="display: none;">
                <li class="notification-data" th:each="notification: ${notificationStream}"
                    th:if="${CurrentUser.id != notification.senderId}">
                    <div class="NotificationRecipient">
                        <p th:text="${notification.content}"></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:src="@{/Script/Header.js}"></script>
    <script th:inline="javascript">
        let user = /*[[${CurrentUser.id}]]*/ {};
    </script>
</div>
</body>
</html>