<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" th:href="@{/Styles/chat.css}"/>
    <link rel="stylesheet" th:href="@{/Styles/GlobalStyle.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <title>Chat</title>
</head>
<body>

<div hidden>
    <span id="senderId" th:text="${sender.id}"></span>
    <span id="senderUN" th:text="${sender.username}"></span>
    <span id="recipient" th:text="${recipient.id}"></span>
    <span id="chatId" th:text="${room.chatId}"></span>
</div>
<header th:replace="fragments/header :: header"></header>
<main>
    <div id="dialogue-page">
        <div class="dialogue-container">
            <div class="dialogue-header">
                <h2 th:text="${recipient.username}">Chat</h2>
            </div>
            <ul id="messageList">
                <li class="message-data" th:each="msg : ${conversation}">
                    <div class="currentUser" th:if="${msg.senderId == sender.id}">
                        <p th:text="${msg.content}"></p>
                        <i th:text="${msg.senderName.charAt(0)}"></i>
                    </div>
                    <div class="recipientUser" th:if="${msg.senderId != sender.id}">
                        <i th:text="${msg.senderName.charAt(0)}"></i>
                        <p th:text="${msg.content}"></p>
                    </div>
                </li>
            </ul>
            <form id="dialogueForm" name="dialogueForm" nameForm="dialogueForm">
                <div class="form-group">
                    <div class="input-group clearfix">
                        <input type="text" id="chatMessage"
                               placeholder="Enter a message..." autocomplete="off"
                               class="form-control"/>
                        <button type="submit">></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:src="@{/Script/chat.js}"></script>
</body>
</html>