<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" th:href="@{/Styles/chat.css}"/>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <title>Chat</title>
</head>
<body>

<div>
    <span id="senderId" th:text="${sender.id}"></span>
    <span id="senderUN" th:text="${sender.username}"></span>
    <span id="recipient" th:text="${recipient.id}"></span>
    <span id="chatId" th:text="${room.chatId}"></span>
</div>

<div id="dialogue-page">
    <div class="dialogue-container">
        <div class="dialogue-header">
            <h2>Chat</h2>
        </div>
        <ul id="messageList">
            <li th:each="msg : ${conversation}"> <p th:text="${msg.content}"></p></li>
        </ul>
        <form id="dialogueForm" name="dialogueForm" nameForm="dialogueForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="chatMessage"
                           placeholder="Enter a message...." autocomplete="off"
                           class="form-control"/>
                    <button type="submit" class="glyphicon glyphicon-share-alt">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:src="@{/Styles/chat.js}"></script>
</body>
</html>