<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sindre Broholm Sæther">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/Styles/GlobalStyle.css}">
    <link rel="stylesheet" th:href="@{/Styles/HomeStyle.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
    <ul id="messageList">
        <li class="notification-data" th:each="notification: ${notificationStream}"
            th:if="${CurrentUser.id != notification.senderId}">
            <div class="recipientUser">
                <p th:text="${notification.content}"></p>
            </div>
        </li>
    </ul>


    <ul class="friendsList" th:if="${listOfFriends.size() != null}">
        <div th:each="friend: ${listOfFriends}" th:object="${friend}">
            <div class="friendBox">
                <div th:if="${CurrentUser.name != friend.user.name}" th:id="${friend.user.username}" onclick="toggleChallengeFriend(this)">
                    <span class="FriendName" th:text="${friend.user.name}"></span>
                    <div class="friendNav friendNavBox">
                        <a class="linkButton" th:href="@{'/chat/' + ${friend.user.id}}">Chat</a>
                    </div>
                </div>
                <div th:if="${CurrentUser.name != friend.friend.name}" th:id="${friend.friend.username}" onclick="toggleChallengeFriend(this)">
                    <span class="FriendName" th:text="${friend.friend.name}"></span>
                    <div class="friendNav friendNavBox">
                        <a class="linkButton" th:href="@{'/chat/' + ${friend.friend.id}}">Chat</a>
                    </div>
                </div>
            </div>
        </div>
    </ul>
    <script th:inline="javascript">
        function toggleChallengeFriend(element) {
            let divNode = document.getElementById(element.id);
            let formNode = divNode.lastElementChild;

            if (formNode.style.display === 'none') {
                formNode.style.display = 'block';
            } else {
                formNode.style.display = 'none';
            }
        }
    </script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:src="@{/Styles/notification.js}"></script>
</main>
</body>
</html>