<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sindre Broholm Sæther">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/Styles/GlobalStyle.css}">
    <link rel="stylesheet" th:href="@{/Styles/HomeStyle.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
    <ul class="friendsList" th:if="${listOfFriends.size() != null}">
        <div th:each="friend: ${listOfFriends}" th:object="${friend}">
            <div class="friendBox">
                <div th:if="${CurrentUser.name != friend.user.name}" th:id="${friend.user.username}" onclick="toggleFriendMenu(this)">
                    <span class="FriendName" th:text="${friend.user.name}"></span>
                    <div class="friendNav friendNavBox">
                        <a class="linkButton" th:href="@{'/chat/' + ${friend.user.id}}">Chat</a>
                    </div>
                </div>
                <div th:if="${CurrentUser.name != friend.friend.name}" th:id="${friend.friend.username}" onclick="toggleFriendMenu(this)">
                    <span class="FriendName" th:text="${friend.friend.name}"></span>
                    <div class="friendNav friendNavBox">
                        <a class="linkButton" th:href="@{'/chat/' + ${friend.friend.id}}">Chat</a>
                    </div>
                </div>
            </div>
        </div>
    </ul>
</main>
</body>
</html>