.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

#dialogue-page ul {
    list-style-type: none;
    background-color: #6D597A;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
    height: 578px;
    direction: ltr;
}

#dialogueForm {
    padding: 20px;
    background-color: #1D9F91;
}

#dialogue-page ul li {
    line-height: 1.5rem;
    margin: 10px 0;
}


#dialogue-page .event-data {
    width: 100%;
    text-align: center;
    clear: both;
}

.currentUser p {
    width: fit-content;
    padding: 0 0 0 30px;
    text-align: end;
}
.recipientUser p {
    width: fit-content;
    padding: 0 30px 0 0;
    text-align: start;
}

.currentUser {
    min-width: fit-content;
    min-height: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #606790;
    border-radius: 50px 10px 10px 50px;
    padding: 1% 0;
}

.recipientUser{
    min-width: fit-content;
    min-height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #606790;
    border-radius: 10px 50px 50px 10px;
    padding: 1% 0;
}
#dialogue-page .message-data {
    position: relative;
}

.currentUser i {
    position: relative;
    width: 35px;
    height: 35px;
    overflow: hidden;
    left: 16px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
    padding: 6px;
    background-color: #1D9F91;
}
.recipientUser i {
    position: relative;
    width: 35px;
    height: 35px;
    overflow: hidden;
    left: -16px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
    padding: 6px;
    background-color: #1D9F91;
}

#dialogueForm .input-group input {
    border: 0;
    padding: 10px;
    background: #FEFEDF;
    color: #1D9F91;
    float: left;
    margin: 0;
}

#dialogueForm .input-group button {
    height: 44px;
    margin: 0 0 0 4px;
    border: 1px solid #FEFEDF;
}

.dialogue-header {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid;
}

.dialogue-header h2 {
    margin: 0;
    font-weight: 500;
    font-size: 2em;
}