.FriendName {
    font-size: 1.5em;
    margin: 2% 0;
}
.toggle {
    display: none;

}
.friendBox{
    margin: 5% 0;
    border-bottom: 1px solid;
    text-align: center;
}
.friendsList{
    width: 100%;
    height: fit-content;
}